body{
    padding: 0px;
    margin: 0px;
    overflow: hidden;
    background-image: url(../images/student-bg.jpg);
    background-size: cover;
    background-attachment: fixed;
}

.bg-shade{
    background-color: rgba(0,0,0,0.9);
    position: absolute;
    z-index: 0;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.header{
    top: 0px;
    position: absolute;

    height: 10%;
    width: 100%;
    box-shadow: 0 4px 8px 0 black, 0 6px 20px 0 black;
}

#head-text{
    color: white;
    font-family: cursive;
    text-align: left;
    font-size: 40px;

    position: absolute;
    top: -30px;
    left: 30px;
}

.footer{
    bottom: 0px;
    position: absolute;

    height: 4%;
    width: 100%;
    box-shadow: 0 4px 8px 0 black, 0 6px 20px 0 black;
}

#foot-text{
    color: white;
    font-family: cursive;
    font-family: monospace;
    text-align: left;

    width: 100%;
    position: absolute;
    bottom: -6px;
    text-align: center;
}

form {
    width: 20%;
    margin: 0 auto;
    box-shadow: 0 4px 8px 0 #444, 0 6px 20px 0 #444;
}

button {
    background-color: #888;
    color: black;
    padding: 10px 10px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
}

button:hover {
    opacity: 0.9;
}

.container {
    position: relative;
    color: white;

    height: 78%;

    padding: 5px 10px;
    margin: 90px 20px;
    box-shadow: 0 4px 8px 0 #333, 0 6px 20px 0 #333;
}

.unselectable {
-webkit-user-select: none;
-khtml-user-select: none;
-moz-user-select: none;
-o-user-select: none;
user-select: none;
}
