body{
    padding: 0px;
    margin: 0px;
    background-image: url("images/login-bg.png");
    background-size: cover;
    background-attachment: fixed;
}

.headerDiv{
    height: 8%;
    width: 100%;
    opacity: 0.8;
    padding: 10px;
    background-color: dimgrey;
}

.loginBox{
    height: 80%;
    width: 50%;
    margin: 20px;

    border-radius: 20px;
    background-color: aqua;
}
